.DrawAgain {
  .content {
    max-width: 500px;
    .img-container {
      align-self: center;
      margin-bottom: 40px;
      width: 100%;
    }
  }

  .button-container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .Gallery {
    $pad: 10%;
    padding: 10px;
    position: fixed;
    border-radius: 50px;
    top: $pad;
    bottom: 20%;
    left: $pad;
    right: $pad;
    background: $bg;
    z-index: 10;
    box-shadow: 0 0 20px $font;
    overflow-y: scroll;

    h1 {
      letter-spacing: 3px;
    }

    .overlay {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    .img-grid {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .grid-item-container {
        width: 100%;
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        @include media('>ipad') {
          width: 30%;
        }
      }

      .img-container {
        position: relative;
        width: 100%;
      }
    }
  }
}
