/* -------------------------------------------------------------------
 * ## fonts
 * ------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Alata|Aleo|Share+Tech+Mono&display=swap');

@font-face {
  font-family: 'Geomanist';
  src: font('geomanist.woff2') format('woff2'), font('geomanist.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
