/* -------------------------------------------------------------------
 * ## colours
 * ------------------------------------------------------------------- */
$bg: #fff;
$font: #000;
$hover: #fe938c;
$active: #44ccff;
$deactive: #a30b37;
$hr: #f1dede;

/* -------------------------------------------------------------------
 * ## fonts
 * ------------------------------------------------------------------- */
$sans_font: 'DM Sans', sans-serif;
$serif_font: 'Cormorant Garamond', serif;
$h_font: 'Criteria', sans-serif;
$code: 'Share Tech Mono', monospace;
$def_font_size: 16px;

/* -------------------------------------------------------------------
 * ## container's max width
 * ------------------------------------------------------------------- */
$max-width: 1366px !default;

/* -------------------------------------------------------------------
 * ## url where all assets served from
 * ------------------------------------------------------------------- */
$base-url: '../../assets/' !default;
