/* -------------------------------------------------------------------
 * ## colours
 * ------------------------------------------------------------------- */
$bg: #1a1616;
$font: #f6f7eb;
$link: #e94f37;
$focus: #fffc31;

/* -------------------------------------------------------------------
 * ## fonts
 * ------------------------------------------------------------------- */
$sans_font: 'Geomanist', sans-serif;
$serif_font: 'Aleo', serif;
$h_font: 'Alata', sans-serif;
$code: 'Share Tech Mono', monospace;

/* -------------------------------------------------------------------
 * ## container's max width
 * ------------------------------------------------------------------- */
$max-width: 1366px !default;

/* -------------------------------------------------------------------
 * ## url where all assets served from
 * ------------------------------------------------------------------- */
$base-url: '../../assets/' !default;
